.git/                        
node_modules/               
.Ds_store                   
npm-*.log                   
yarn-*.log               
coverage/                  
test/                        
.vscode/                    
.npmrc                      
.npmignore                   
package-lock.jsonyarn.lock  
commitlint.config.json      
.release-it.json            
prettierrc                   
.eslintrc 

scripts/
playground/